{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Dorang landing page.">
    <meta name="author" content="Devcrud">
    <title>Moorganiser | {% block page_title %}{% endblock page_title %}</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">

    <!-- Bootstrap + Dorang main styles -->
	<link rel="stylesheet" href="{% static 'assets/css/dorang.css' %}">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="dark-theme">
    
    {% include 'components/landing/navbar.html' %}

    {% include 'components/landing/theme-selector.html' %}

    {% include 'components/landing/page-header.html' %}

    {% include 'components/landing/modal.html' %}

    {% block page_content %}{% endblock page_content %}

    {% include 'components/landing/footer.html' %}

    <!-- core  -->
    <script src="{% static 'assets/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap affix -->
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Dorang js -->
    <script src="{% static 'assets/js/dorang.js' %}"></script>

</body>
</html>
