{% load static %}

<!-- page header -->
<header class="header">
    <div class="overlay"></div>
    <div class="header-content">
        <h1 class="header-title">What Happens Tomorrow?</h1>
        <p class="header-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt.</p>

        <button class="btn btn-theme-color modal-toggle"><i class="ti-control-play text-danger"></i> Watch Video</button>

    </div>
</header><!-- end of page header -->